package dashboard

import (
	"date-rate/app/components/layouts"
	"github.com/labstack/echo/v5"
)

templ Dashboard(c echo.Context) {
	@layouts.Authenticated(c) {
		<div class="flex flex-col">
			Dashboard
		</div>
	}
}
