package form_components

templ FormTitle(title string, description string) {
	<div>
		<h2 class="text-gray-700 leading-7 font-medium">{ title }</h2>
		<p class="text-gray-400 leading-6 mt-1">{ description }</p>
	</div>
}
