package urls

templ Default(route templ.SafeURL) {
	<a
		href={ route }
		class="text-blue-600 font-medium hover:text-blue-500 focus:outline-1 focus:outline-offset-2 focus:outline-blue-600"
	>
		{ children... }
	</a>
}
