package inputs


templ ButtonLogout() {
    <form method="post" action="/logout" hx-boost="true" class="flex flex-col gap-4 text-gray-700">
        @Button(map[string]string{"type": "submit"}) {
            Logout
        }
    </form>
}
