package inputs

import "cmp"

type Button struct {
	Name    string
	Type    string
	Classes string
}

templ (bi Button) Comp() {
	<button type={ cmp.Or(bi.Type, "button") } class={ cmp.Or(bi.Classes, ButtonSolidBlueClasses) }>
		{ children... }
	</button>
}
