package inputs

import "cmp"

type Checkbox struct {
	Name    string
	Classes string
}

templ (ci Checkbox) Comp() {
	<input type="checkbox" name={ ci.Name } class={ cmp.Or(ci.Classes, CheckboxInputClasses) }/>
}
