package inputs

import "date-rate/app/components"

var checkboxInputProps = map[string]string{
	"classes": "border-gray-400 rounded text-sm",
}

func CheckboxInput(props ...map[string]string) templ.Component {
	switch len(props) {
	case 1:
		return checkbox(components.SetProps(checkboxInputProps, props[0]))
	default:
		return checkbox(checkboxInputProps)
	}
}

templ checkbox(props map[string]string) {
	<input type="checkbox" class={ props["classes"] }/>
}
