package inputs

import (
	"pb-starter/app/lib"
	"github.com/tidwall/gjson"
)

templ FormInputWrapper(name string, err string) {
	<label for={ name } class="flex flex-col gap-1 font-medium">
		{ children... }
		if gjson.Get(err, name).String() != "" {
			<div class="text-red-600 text-sm font-normal -mt-1">{ lib.TitleCase(gjson.Get(err, name).String()) }.</div>
		}
	</label>
}
