package inputs

import "cmp"

type Password struct {
	Name     string
	Classes  string
	Disabled bool
}

templ (pi Password) Comp() {
	<input
		type="password"
		name={ pi.Name }
		class={ cmp.Or(pi.Classes, PasswordInputClasses) }
		if pi.Disabled {
			disabled
		}
	/>
}
